@charset "utf-8";
h2{
	font-family: "Lucida Console", Monaco, monospace;
	font-size:1.2em;
}
#inputUser > input:focus{
    outline: none;
}
#inputUser > input[type=text]{
	border-radius:25px;
	border:1px solid #06C;
	padding:10px;
	margin-left:5px;
	width: 200px;
}

#result > input:focus{
    outline: none;
}
#result > input[type=text]{
	border-radius:0px;
	border: none;
	border-bottom:1px solid  #06C;
	padding:10px;
	margin-left:5px;
	width: 200px;
}
#result > input[type=text]:hover{
	border-radius:0px;
	border: none;
	border-bottom:1px solid  #06C;
	padding:10px;
	margin-left:5px;
	width: 100%;
	background-color: #CFF;
}
img{
	margin-left:15px;
	width: 200px;
	height: 100px;
}
#title{
	margin:0 auto;
	text-align:center;
}
#result{
	margin-top:5px;
	height: 100%;
}
