#wrapper{
	background-color:#fff;
	height:100%;
}
img{
	margin-left:15px;
	width: 200px;
	height: 100px;
}
#title{
	margin:0 auto;
	text-align:center;
}

#inputUser{
	padding:5px;
	text-align:center;
	font-size:1.2em;
	font-family: "Lucida Console", Monaco, monospace;
}
#inputUser > input:focus{
    outline: none;
}
#inputUser > input[type=text]{
	border:none;
	border-bottom:1px solid #06C;
	padding:10px;
	margin-left:5px;
	width: 200px;
	font-size:1.2em;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}